* {
  margin: 0px;
  padding: 0px;
}

.s2_1 {
  position: absolute;
  width: 1366px;
  height: 1024px;
  z-index: 1;
}

.s2_2 {
  position: absolute;
  left: 139px;
  top: 48px;
  width: 741px;
  height: 35px;
  animation: revealHorizontal 0.7s;
  clip: rect(0px,0px,100px,0px);
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s2_3 {
  position: absolute;
  left: 354px;
  top: 145px;
  width: 558px;
  height: 140px;
  animation: fadeInUp 0.7s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_4 {
  position: absolute;
  left: 278px;
  top: 312px;
  width: 710px;
  height: 34px;
  animation: zoomInDown 0.7s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_5 {
  position: absolute;
  left: 913px;
  top: 545px;
  width: 356px;
  height: 407px;
  animation: fadeInRight 0.7s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_6 {
  position: absolute;
  left: 888px;
  top: 431px;
  width: 315px;
  height: 35px;
  animation: fadeInDown 0.7s;
  animation-delay: 4s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_7 {
  position: absolute;
  left: 945px;
  top: 477px;
  width: 204px;
  height: 37px;
  animation: zoomIn 0.7s;
  animation-delay: 4s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_8 {
  position: absolute;
  left: 136px;
  top: 477px;
  width: 708px;
  height: 75px;
  animation: revealHorizontal 1s;
  clip: rect(0px,0px,100px,0px);
  animation-delay: 5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_9 {
  position: absolute;
  left: 136px;
  top: 618px;
  width: 672px;
  height: 76px;
  animation: revealHorizontal 1s;
  clip: rect(0px,0px,100px,0px);
  animation-delay: 5.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_10 {
  position: absolute;
  left: 136px;
  top: 758px;
  width: 678px;
  height: 76px;
  animation: revealHorizontal 1s;
  clip: rect(0px,0px,100px,0px);
  animation-delay: 6s;
  animation-fill-mode: both;
  z-index: 2;
}


@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}

@-webkit-keyframes revealHorizontal{
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,750px,100px,0px);
	opacity: 1;
  }
}
@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,750px,100px,0px);
	opacity: 1;
  }
}

.revealHorizontal {
  -webkit-animation-name: revealHorizontal;
  animation-name: revealHorizontal;
}


@-webkit-keyframes flipInXFlash {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
	opacity: 1;
  }
  70%, 80%, 90% {opacity: 0;}
  65%, 75%, 85%, 95% {opacity: 1;}
}

@keyframes flipInXFlash {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
	opacity: 1;
  }
  70%, 80%, 90% {opacity: 0;}
  65%, 75%, 85%, 95% {opacity: 1;}
}

.flipInXFlash {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInXFlash;
  animation-name: flipInXFlash;
}