* {
  margin: 0px;
  padding: 0px;
}

.s1_1 {
  position: absolute;
  width: 1366px;
  height: 1024px;
  z-index: 1;
}

.s1_2 {
  position: absolute;
  left: 668px;
  top: 90px;
  width: 698px;
  height: 309px;
  animation: fadeInRight 0.7s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 3;
}

@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}

@-webkit-keyframes revealHorizontal{
  0% {
    clip: rect(0px,700px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,0px,100px,700px);
	opacity: 1;
  }
}
@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,0px,100px,700px);
	opacity: 1;
  }
}

.revealHorizontal {
  -webkit-animation-name: revealHorizontal;
  animation-name: revealHorizontal;
}